bokeh~=2.2.3
cloudpickle~=1.6.0
fsspec~=0.8.0
gnureadline~=8.0.0
lifelines~=0.25.8
msgpack~=1.0.2
numpy~=1.19.2
plotly~=4.14.3
pyod~=0.8.6
pytest~=6.2.2
scikit-multiflow~=0.5.3
scikit-optimize~=0.8.1
tornado~=6.1
transformers~=4.2.2
wrapt~=1.12.1
yellowbrick~=1.2.1
